@import "utilities/colors";
@import "utilities/presets";


html{
    position: relative;
    min-height: 100%;
}
html,
body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}
body {
    margin-bottom: 60px;
}
.viewBox {
    margin-top: 135px;
    margin-bottom: 40px;
}
@media(min-width:1000px) {
    .viewBox {
        margin-top: 155px;
        margin-bottom: 480px;
    }
}

/* Back to Top BUTTON*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
            box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    border-radius: 0;
    background-color: $blue;
    border: none;
    z-index: +1500;
    &:hover {
      background-color: $gray !important;
      color: #ffffff !important;
      /* box-shadow: 0 0 3px rgba(0,0,0,0.2);*/
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
    }
}

.noGutter {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.noMargin {
    margin: 0 !important;
}
.img-shadow {
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.13);
            box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.13);
}
.cardbox {
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), 0 -6px 6px -6px rgba(0,0,0,0.33);*/
        -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    border: 1px solid $blue;
}
/*TEXT FORMATING STYLES START*/
.slit {
    border:none;
    width: 99%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 20px 20px -20px #aaa;
            box-shadow: 0 20px 20px -20px #aaa;
    margin: -10px 0 10px;
}
p {
    font-size: 1.2em;
}
.bold {
    font-weight: bold;
}
.bolder {
    font-weight: bolder;
}
.text-gray {
    color: $gray;
}
.text-blue {
    color: $blue;
}
.text-white {
    color: #fff;
}
.bg-gray {
    background-color: $gray;
}
.bg-blue {
    background-color: $blue;
}
.bg-white {
    background-color: #fff;
}
.bg-lightGray {
	background-color: $lightgray;
}
.bg-offwhite {
	background-color: $offwhite;
}
.bg-danger {
    background-color: $danger;
    color: #ffffff;
}
.bg-danger-dark {
    background-color: $danger-dark;
    color: #ffffff;
}
/* Gradients*/
.blue-gradient {
    background: rgba(44,116,232,1);
    background: -webkit-radial-gradient(center ellipse, rgba(44,116,232,1) 0%, rgba(0,104,179,1) 100%);
    background: -o-radial-gradient(center ellipse, rgba(44,116,232,1) 0%, rgba(0,104,179,1) 100%);
    background: radial-gradient(ellipse at center, rgba(44,116,232,1) 0%, rgba(0,104,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c74e8', endColorstr='$blue', GradientType=1 );
}
.newBlue-gradient {
  background: $lightblue;
  background: $newBlue-gradient;
}
.icon {

}
.grayIcon {
    background-color: $blue;
}

.btn-primary {
  background-color: $blue !important;
  border-color: $blue !important;
}

/*SQUARE BUTTONS*/

.squareBtn {
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.squareBtnBlue {
  background-color: $blue;
  color: #fff;
  border-color: $blue;
  &:hover {
    background-color: transparent;
    color: $blue;
  }
}

.squareBtnWhite {
  background-color: #fff;
  color: $gray;
  border-color: #fff;
  &:hover {
    background-color: transparent;
    color: #fff;
  }
}

.squareBtnGray {
  background-color: $gray;
  color: #fff;
  border-color: $gray;
  &:hover {
    background-color: transparent;
    color: $gray;
  }
}

/*WIRE BUTTONS*/

.wireBtn {
  border-radius: 0;
  border-width: 1px;
  background-color: transparent;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  &:hover {}
}

.wireBtnWhite {
  border-color: #fff;
  color: #fff;
  &:hover {
    color: $blue;
    background-color: #fff;
  }
}

.wireBtnBlue {
  border-color: $blue;
  color: $blue;
  &:hover {
    color: #fff;
    background-color: $blue;
  }
}

.wireBtnGray {
  border-color: $gray;
  color: $gray;
  &:hover {
    color: #fff;
    background-color: $gray;
  }
}

/*FOOTER*/

.top-footer {
  padding: 25px 0;
  width: 100%;
  min-height: 230px;
  -webkit-box-shadow: 0 -10px 10px -10px #2C3E50;
          box-shadow: 0 -10px 10px -10px #2C3E50;
  @extend .newBlue-gradient;
  .footerSection {
    h3 {
      color: #fff;
      text-align: left;
      margin-top: 0;
    }
    &.footerContact {
      h4 {
        color: #fff;
        font-size: 1.5em;
        margin-top: 0;
      }
      p {
        font-size: 1em;
        color: #fff;
        text-align: center;
      }
      text-align: center;
      /*    margin-top: 2%;*/
      .btn {
        width: 80%;
        margin-left: 10%;
        margin-top: 5px;
      }
    }
    .list-group-item {
      background-color: transparent;
      color: #fff;
      border-color: transparent;
      width: 80%;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      &:hover {
        background-color: #fff;
        color: $blue;
        border-width: 1px;
      }
    }
    &.footerSocial {
      margin-top: 3%;
      .fa {
        font-size: 1.5em;
        padding-right: 5px;
      }
    }
  }
  .list-group-item:last-child {
    border-radius: 0;
  }
}

.list-group-item:first-child {
  border-radius: 0;
}

@media (min-width: 1000px) {
  .top-footer {
    bottom: 65px;
    position: absolute;
    width: 100%;
    .footerCenter {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      margin: 0;
      padding: 0 1%;
    }
  }
}

@media (max-width: 1000px) {
  .top-footer {
    .footerSection {
      margin-bottom: 15px;
    }
    .footerContact {
      padding-bottom: 15px;
    }
    .footerSection.footerSocial {
      margin-top: 0%;
      width: 90%;
      margin-left: 5%;
    }
    .footerContact, .footerProducts, .footerResources {
      border-bottom: 1px solid rgba(199, 199, 199, 0.5);
    }
    .footerSection .list-group-item {
      background-color: #fefefe;
      color: #808080;
      border-width: 0;
      width: 80%;
      margin-left: 10%;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      -webkit-box-shadow: inset 0.5px 0.5px 3px 0.5px rgba(0, 0, 0, 0.4);
              box-shadow: inset 0.5px 0.5px 3px 0.5px rgba(0, 0, 0, 0.4);
      &:hover {
        background-color: #fff;
        color: $blue;
        border-width: 1px;
      }
    }
  }
}

footer {
  min-height: 50px;
  position: absolute;
  /*      left: 0;*/
  bottom: 12px;
  width: 100%;
  /*      right: 0;*/
  text-align: center;
  background-color: $gray;
  padding: 14px 10px 10px 10px;
  -webkit-box-shadow: 0 -10px 10px -10px #2C3E50;
          box-shadow: 0 -10px 10px -10px #2C3E50;
  p {
    color: #fff;
    font-size: 15px;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }
}
