@import "utilities/colors";

.servicesPage {

    .mainArea {

        .pageHead {
            h1 {
                margin: 0;
                color: $gray;
            }
            hr {

            }
        }
        .subHead {
            text-align: center;
            margin-bottom: 20px;
            h3 {
                color: $gray;
            }
            p {
                font-size: .9em;
                color: $blue;
            }
        }
        /* Service list Boxes*/
        .serviceAreaBox {
            a {
                .cardbox {
                    background-size: cover !important;
                    min-height: 170px;
                    margin-bottom: 30px;
                    background-blend-mode: overlay;
                    background-color: rgba(33,33,33,0.3);
                    h3 {
                        padding: 5px 3px;
                        font-weight: 900;
                        color: #fff;
                        margin: 0;
                        position: absolute;
                        top: 70%;
                        left: 40%;
                        font-size: 2rem;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-shadow: 1px 1px 1px #000;
                    }
                    &:hover {
                        background-color: rgba(33,33,33,0.8);
                        -webkit-transition: background 0.4s ease-out, -webkit-box-shadow 0.3s ease;
                        transition: background 0.4s ease-out, -webkit-box-shadow 0.3s ease;
                        -o-transition: background 0.4s ease-out, box-shadow 0.3s ease;
                        transition: background 0.4s ease-out, box-shadow 0.3s ease;
                        transition: background 0.4s ease-out, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
                        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.33);
                        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.33);
                    }
                }
            }
        }
        .customBox {
            a{
                .cardbox {
                    background-color: $blue !important;
                    -webkit-transition: .3s ease;
                    -o-transition: .3s ease;
                    transition: .3s ease;
                    i {
                        font-size: 5em;
                        color: #ffffff;
                    }
                    &:hover {
                        background-color: $success !important;
                    }
                }

            }
        }
    }


}
