<main class="servicePage">
    <section class="contentSection">
        <img src="/assets/stock_images/service_images/{{pageImage}}" alt="{{pageTitle}}" class="servicePageImg img-responsive">
        <p> Generally the result of a green pool, the pool is drained and the interior is washed with liquid chlorine to rid it of algae. This mixture will kill most of the algae in your swimming pool. <br><br>A chlorine bath WILL NOT HURT your pool as long as the chlorine is applied properly and removed after the pool cleaning has been completed. <br><br>A Chlorine Bath is often followed by an acid wash.</p>
    </section>
    <section class="callToActionSection cardbox">
        <h3>Does your pool Need a {{pageTitle}}</h3>
        <p>The experts at Brennan Pool Care will brighten your pool with a professional Chlorine Bath, leaving your pool bright and sparkling. <a ui-sref="contact">Contact Us</a> to get started!</p>
    </section>
</main>
