<main class="servicePage">
    <section class="contentSection">
        <img src="/assets/stock_images/service_images/{{pageImage}}" alt="{{pageTitle}}" class="servicePageImg img-responsive">
        <p>A salt water pool system is soft on your skin, and you can really tell the difference – the water feels silkier and easier to move through. Pure chlorine systems may irritate your eyes whereas salt water pool systems don’t cause red eyes, itchy skin, or discolored hair. <br><br>There are a few cost savings with a salt water pools: there’s no need to buy chlorine chemicals or other possible chemicals. Instead of chemicals, a saltwater pool system uses only pure, natural salt – and then recycles that salt indefinitely. It’s the best way to have a truly eco-friendly pool. <br><br>Most pool owners want the benefits of a salt water pool, but are wary of the process and costs. However conversion costs are much lower than you’d expect and a pool can be converted in just a few hours!<br><br></p>
    </section>
    <section class="callToActionSection cardbox">
        <h3>Do you want to convert your pool to salt water?</h3>
        <p>The experts at Brennan Pool Care can help make your pool a salt water pool and make the conversion simple and professional and make your pool bright and sparkling. <a ui-sref="contact">Contact Us</a> to get started!</p>
    </section>
</main>
