<header>
    <!--navbar/header included dynamically-->
    <div ng-include="'/templates/partials/header.html'"></div>
</header>
<div class="viewBox">
    <ui-view></ui-view>
</div>
<!--Back to top button-->
<a id="back-to-top" href="#" class="btn squareBtn squareBtnBlue btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

<!--Footer included dynamically-->
<div ng-include="'/templates/partials/footer.html'"></div>